{% extends 'dashboard.html' %}
{% load static %}
{% block dashaboard %}

<div class="communities__container">
    <div class="community-post__feed__container">
      
        <div class="community-post__feed-top">
            <div class="community-post__feed-top__header">
                <span class="user-profile-avatar">
                    {% if profile.avatar %}
                    <img src="{{profile.avatar.url }}" alt="">
                    {% else %}
                    <img src="{% static 'images/user.png'%}" alt="">
                    {% endif %}
                </span>
                <span class="post__placeholder-text"><textarea id="post__text" placeholder="Tell the community what you want..."></textarea>
                </span>
            </div>
            <div class="post__image-preview">
                <img  id="image-preview" src="" alt="">
            </div>
            <div class="community-post__feed__buttons">
                <span>
                    <select name="campaigns" id="post-feed-campaign-select" class="post-feed-campaign-select" >
                        <option value="none">Select a Campaign</option>
                        {% for campaign in my_campaigns %}
                        <option value="{{campaign.title}}">{{campaign.title}}</option>
                        {% endfor %}
                    </select>
                </span>
                <div id="emoji-picker" class="emoji-picker" style="display: none;"></div>
                <i class='bx bx-smile'></i>
                <div class="" data-field="post-image">
                    <label for="post-image" class="edit-label"><i class='bx bxs-image-add'></i></label>
                    <input type="file" id="post-image" accept="image/*" name="post-image" style="font-size: 0; display: none;">
                </div>
                
                <button id="post__btn" class="post__feed" >Post</button>
            </div>
        </div>
    </div>
    <div class="community__posts-container">
        {% if posts %}
            {% for post in posts %}
            <div class="community__posts-item">
                <div class="community__posts-item_header">
                    <div class="community__posts-item_header-left">
                        {% if post.profile.avatar  %}
                        <span class="community__post-avatar"><img src="{{ post.profile.avatar.url }}" alt="">
                        </span>
                        {% else %}
                        <span class="community__post-avatar"><img src="{% static 'images/user.png'%}" alt="">
                        </span>
                        {% endif %}
                        <span class="community__post-name">
                            <span class="community__post-display-name">
                                <a href="{% url 'user_profile' post.profile.id %}">
                                    {{post.profile.display_name}}
                                </a>
                                
                            </span>
                            <span class="community__post-badge">
                                {% if post.profile.verification_status == "Verified"%}
                                <i class=' verified bx bxs-badge-check '></i>
                                <div class="pending-id-container">
                                   <p>User Identity is verified.</p>
                                </div>
                                {% elif post.profile.verification_status == "Pending"%}
                                <i class='bx bxs-error-circle pending'></i>
                                <div class="pending-id-container">
                                   <p>User Identity Verification is ongoing. </p>
                                </div>
                                {% elif post.profile.verification_status == "NotVerified" %}  
                                <i class='bx bxs-error not-verified' ></i>
                                <div class="pending-id-container">
                                   <p>User has not verified their identity. </p>
                                </div>
                             {%  endif %}
                            </span>
                            <span class="community__post-username">@{{post.profile.username}}</span>
                            
                            <span class="community__post-symbol">·</span>
                            <span class="community__post-time time" data-post-timestamp="{{ post.post_date | date:'U' }}">{{ post.post_date }} ago</span>
                        </span>
                    </div>
                </div>
                <div class="community__posts-item_body">
                    <p> 
                        {% if post.campaign %}
                        <a class="community__posts-item_campaign-tag" href="{% url 'campaigns' post.campaign.id %}"> 
                            #{{post.campaign.title}}        
                        </a>
                        {% endif %}
                        {{post.post_text}} 
                    </p>
                    {% if post.post_image  %}
                    <span>
                        <img src="{{ post.post_image.url }}" alt="">
                    </span>     
                    {% endif %}
                </div>
                <div class="community__posts-item_footer">
                    {% if profile in post.likes.all %}
                    <i id="post-like" data-post-id="{{ post.id }}" class='bx bxs-heart like' >{{post.no_post_likes}}</i>
                    {% else %}
                    <i id="post-like" data-post-id="{{ post.id }}" class='bx bx-heart like' >{{post.no_post_likes}}</i>
                    {% endif %}
                    <i class='bx bx-comment-detail'>{{post.no_post_comments}}</i>
                  
                </div>
                <div class="community__posts-item_comment">
                    <input class="post-comment-text" data-post-id="{{ post.id }}" type="text" placeholder="Comment..">
                    <button class="post-comment-btn" data-post-id="{{ post.id }}"><i class='bx bxs-send'></i></button>
               </div>
                <div class="community__posts-item_comment-box">
                    {% if post.comments.all %}
                    {% for comment in post.comments.all reversed%}
                    <div class="community__posts-item_header-left comment__head">
                        {% if comment.comment_author.avatar  %}
                        <span class="community__post-avatar"><img src="{{ comment.comment_author.avatar.url }}" alt="">
                        </span>
                        {% else %}
                        <span class="community__post-avatar"><img src="{% static 'images/user.png'%}" alt="">
                        </span>
                        {% endif %}
                        <div class="">
                            <span class="community__post-name">
                                <span class="community__post-display-name">{{comment.comment_author.display_name}}</span>
                                <span class="community__post-badge"><i class='bx bxs-badge-check'></i></span>
                                <span class="community__post-username">@{{comment.comment_author.user}}</span>
                                <span class="community__post-symbol">·</span>
                                <span class="community__post-time time" data-post-timestamp="{{ comment.comment_date | date:'U' }}">{{ comment.comment_date }} ago</span>
                            </span>
                        </div>
                    </div>
                    <span class="post__comment-text">
                        <p> 
                            {{comment.comment_text}}
                        </p>
                    </span>
                    {%  endfor %}
                    {% else %}
                    <div class="post__no-comments">
                        <span>No comments yet.</span>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="community__no-posts">
                <h1>No Posts Yet. </h1>
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}

{% block feeds-sidebar %}
active
{% endblock %}